.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#webgazerVideoContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: move;

  /* Above the canvas, below logs and controls */
  z-index: 1001;

  border: 1px solid #ccc;
  background-color: #000;
}

/* #webgazerVideoFeed {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 500;
  cursor: move;
} */

/* #webgazerCanvas {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 600;
} */