<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Clears all existing package sources -->
    <clear />
    <!-- Adds nuget.org as the only package source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>